.page-header.navbar{
	height: 60px;
	min-height: 60px;
}
.page-header.navbar .page-logo .logo-default{
	margin-top: 10px;
}
.page-content-wrapper .page-content{
	margin-left: auto;
}
.page-container-bg-solid .page-bar,
.page-content-white .page-bar{
	margin-top: -15px;
}
.login-options{
	margin-left: 30px;
	margin-right: 30px;
}