body{
	background: #f5f5f5!important;
}
.page-header.navbar{
	height: 60px;
	min-height: 60px;
}
.page-header.navbar .page-logo .logo-default{
	margin-top: 10px;
}
.page-content-wrapper .page-content{
	margin-left: auto;
}
.page-container-bg-solid .page-bar,
.page-content-white .page-bar{
	margin-top: -15px;
}
.login-options{
	margin-left: 30px;
	margin-right: 30px;
}
.page-header .navbar .page-logo{
	max-width: 100px;
	display: inline-block;
}
.page-lock .lock-head{
	background: #3598dc;
	color: #fff;
}
.page-lock .page-body{
	background: #fff;
}
.form-login-wrapper .lock-body{
	border-bottom: none;
	margin: 0;
	padding: 30px;
}
.login-sec .btn-large{
	border-radius: 33px;
	background: #218e29;
	border-color: #218e29;
}
.login-sec .btn-large:hover,
.login-sec .btn-large:focus{
	background: #218e29;
	border-color: #218e29;
}
.form-horizontal .tab-pane .form-group.form-md-line-input{
	margin: 0;
}
.mt-repeater .mt-repeater-input{
	display: block;
	width: auto;
	padding: 0;
}
@media (min-width: 992px){
	.page-content {
		padding-top: 70px;
	}
}